<!doctype html>
<html>
<head>
<title>Line Chart</title>
<script src="/site_media/js/Chart.js"></script>
<link rel="stylesheet" href="/site_media/css/style.css" type="text/css" />
<script src="http://code.jquery.com/jquery-1.10.1.min.js" type="text/javascript"></script>
<script src="/site_media/js/html2canvas.js" type="text/javascript"></script>
<script>
	var numberArray = new Array();
	var numberColorArray = new Array();
	{% for number_item in numbers %}
		numberArray.push({{number_item}});
	{% endfor %}
    function capture_me(){
        console.log("I am in capture!");
        html2canvas($('body'), {
            onrendered: function(canvas){
                var imgString = canvas.toDataURL("image/png");
                window.open(imgString);
                $.ajax({
                    url:'/capture/',
                    type: 'POST',
                    data: {
                        file: imgString,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                });
                console.log('I am here after html2canvas open! and the image url is: ' + imgString);
        }
    });
    }


</script>
<style>
canvas{
}
</style>
</head>

<body>
<canvas id="canvas" height="450" width="600" style="float:left"></canvas>

{% csrf_token %}


<script>

function get_random_color() {
    var letters = '0123456789ABCDEF'.split('');
    var color = '#';
    for (var i = 0; i < 6; i++ ) {
        color += letters[Math.round(Math.random() * 15)];
    }
	numberColorArray.push(color);
    return color;
}

var date_labels = new Array();
{% for call_date in date_list %}
	date_labels.push(String("{{call_date}}"))
{% endfor %}

var data_sets = new Array()

var lineChartData = {
labels : date_labels,
datasets : [
{% for item in final_list %}
{

fillColor : "rgba(151,187,205,0.5)",
strokeColor : "rgba(151,187,205,1)",
pointColor : "rgba(151,187,205,1)",
pointStrokeColor : get_random_color(),
data : [{% for sub_item in item %} {{sub_item}}, {% endfor %}]
},
{% endfor %}
]

}

var myLine = new Chart(document.getElementById("canvas").getContext("2d")).Line(lineChartData);

</script>

<div class="legends" id="legends" style = "float:right;padding-right:600px;padding-top:30px;">
Legends:</br></br>
<p>Color : Tracking Number</p>
</div>

<script>
	for(ele=0; ele < numberColorArray.length; ele++)
	{
		var innerSpan = document.getElementById("legends").innerHTML;
		document.getElementById('legends').innerHTML= innerSpan + "<div><p><span style=width:100px;background-color:" + numberColorArray[ele] + ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>&nbsp; : " + numberArray[ele] + "</p>" + "</div>";
	}
</script>
<div id="div-capture">
    <input type="button" onClick="capture_me();" value="Send Report"></input>
</div>
</body>
</html>
